In [2]:
!git clone https://github.com/mapup/MapUp-Data-Assessment-F.git

Cloning into 'MapUp-Data-Assessment-F'...
remote: Enumerating objects: 37, done.
remote: Counting objects: 100% (10/10), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 37 (delta 5), reused 3 (delta 3), pack-reused 27
Receiving objects: 100% (37/37), 502.17 KiB | 8.37 MiB/s, done.
Resolving deltas: 100% (7/7), done.

In [3]:
import pandas as pd

file_path = '/content/MapUp-Data-Assessment-F/datasets/dataset-1.csv'

df = pd.read_csv(file_path)

df.head()

   id_1  id_2  route   moto    car     rv   bus  truck
0   829   827      1   2.05   4.14   4.14  10.1   15.2
1   829   821      4   6.63  13.26  13.26  32.4   48.5
2   829   804      7  14.41  28.92  28.92  64.7   97.0
3   829   822      6   5.90  11.81  11.81  28.8   43.2
4   829   826      9   2.87   5.81   5.81  14.2   21.2

In [ ]:
file_path = '/content/MapUp-Data-Assessment-F/templates/python_task_1.py'


with open(file_path, 'r') as file:
    python_code = file.read()


print(python_code)

In [5]:
import pandas as pd

def generate_car_matrix(df):
    """
    Creates a DataFrame for id combinations.

    Args:
        df (pandas.DataFrame)

    Returns:
        pandas.DataFrame: Matrix generated with 'car' values,
                          where 'id_1' and 'id_2' are used as indices and columns respectively.
    """

    car_matrix = df.pivot(index='id_1', columns='id_2', values='car').fillna(0)

    return car_matrix

def get_type_count(df):
    """
    Categorizes 'car' values into types and returns a dictionary of counts.

    Args:
        df (pandas.DataFrame)

    Returns:
        dict: A dictionary with car types as keys and their counts as values.
    """

    df['car_type'] = pd.cut(df['car'], bins=[float('-inf'), 15, 25, float('inf')],
                           labels=['low', 'medium', 'high'], right=False)

    # Count occurrences of each car_type category
    type_counts = df['car_type'].value_counts().to_dict()

    # Sort the dictionary alphabetically based on keys
    type_counts = dict(sorted(type_counts.items()))

    return type_counts

def get_bus_indexes(df):
    """
    Returns the indexes where the 'bus' values are greater than twice the mean.

    Args:
        df (pandas.DataFrame)

    Returns:
        list: List of indexes where 'bus' values exceed twice the mean.
    """

    bus_indexes = df[df['bus'] > 2 * df['bus'].mean()].index.tolist()


    bus_indexes.sort()

    return bus_indexes

def filter_routes(df):
    """
    Filters and returns routes with average 'truck' values greater than 7.

    Args:
        df (pandas.DataFrame)

    Returns:
        list: List of route names with average 'truck' values greater than 7.
    """

    route_averages = df.groupby('route')['truck'].mean()


    filtered_routes = route_averages[route_averages > 7].index.tolist()

    # Sort the list of route names
    filtered_routes.sort()

    return filtered_routes

def multiply_matrix(matrix):
    """
    Multiplies matrix values with custom conditions.

    Args:
        matrix (pandas.DataFrame)

    Returns:
        pandas.DataFrame: Modified matrix with values multiplied based on custom conditions.
    """

    modified_matrix = matrix.applymap(lambda x: x * 0.75 if x > 20 else x * 1.25)

    # Round values to 1 decimal place
    modified_matrix = modified_matrix.round(1)

    return modified_matrix

file_path = '/content/MapUp-Data-Assessment-F/datasets/dataset-1.csv'

df = pd.read_csv(file_path)

car_matrix_result = generate_car_matrix(df)

print("Resulting Car Matrix:")
print(car_matrix_result)

type_count_result = get_type_count(df)

# Display the resulting dictionary of car type counts
print("\nType Count Dictionary:")
print(type_count_result)

bus_indexes_result = get_bus_indexes(df)

print("\nBus Indexes Exceeding Twice the Mean:")
print(bus_indexes_result)

filtered_routes_result = filter_routes(df)

# Display the resulting list of route names with average 'truck' values greater than 7
print("\nFiltered Routes with Average 'Truck' > 7:")
print(filtered_routes_result)

# Apply the multiply_matrix function to the Car Matrix DataFrame
modified_matrix_result = multiply_matrix(car_matrix_result)

# Display the resulting modified matrix
print("\nModified Car Matrix:")
print(modified_matrix_result)

Resulting Car Matrix:
id_2    801    802    803    804    805    806    807    808    809    821  \
id_1
801    0.00   2.80   6.00   7.70  11.70  13.40  16.90  19.60  21.00  23.52
802    2.80   0.00   3.40   5.20   9.20  10.90  14.30  17.10  18.50  20.92
803    6.00   3.40   0.00   2.00   6.00   7.70  11.10  13.90  15.30  17.72
804    7.70   5.20   2.00   0.00   4.40   6.10   9.50  12.30  13.70  16.12
805   11.70   9.20   6.00   4.40   0.00   2.00   5.40   8.20   9.60  12.02
806   13.40  10.90   7.70   6.10   2.00   0.00   3.80   6.60   8.00  10.42
807   16.90  14.30  11.10   9.50   5.40   3.80   0.00   2.90   4.30   6.82
808   19.60  17.10  13.90  12.30   8.20   6.60   2.90   0.00   1.70   4.12
809   21.00  18.50  15.30  13.70   9.60   8.00   4.30   1.70   0.00   2.92
821   23.52  20.92  17.72  16.12  12.02  10.42   6.82   4.12   2.92   0.00
822   24.67  22.07  18.87  17.27  13.17  11.57   7.97   5.27   4.07   1.80
823   26.53  23.93  20.73  19.13  15.03  13.43   9.83   7.13   5.93   3.67
824   27.92  25.32  22.12  20.52  16.42   7.80  11.22   8.52   7.32   5.06
825   29.08  26.48  23.28  21.68  17.58  15.98  12.38   9.68   8.48   6.22
826   30.87  28.27  25.07  23.47  19.37  17.77  14.17  11.47  10.27   8.01
827   32.53  29.93  26.73  25.13  21.03  19.43  15.83  13.13  11.93   9.43
829   36.32  33.72  30.52  28.92  24.82  23.22  19.62  16.92  15.72  13.26
830   38.27  35.67  32.47  30.87  26.77  25.17  21.57  18.87  17.67  15.17
831   39.24  36.64  33.44  31.84  27.74  26.14  22.54  19.84  18.64  16.15

id_2    822    823    824    825    826    827    829    830    831
id_1
801   24.67  26.53  27.92  29.08  30.87  32.53  36.32  38.27  39.24
802   22.07  23.93  25.32  26.48  28.27  29.93  33.72  35.67  36.64
803   18.87  20.73  22.12  23.28  25.07  26.73  30.52  32.47  33.44
804   17.27  19.13  20.52  21.68  23.47  25.13  28.92  30.87  31.84
805   13.17  15.03  16.42  17.58  19.37  21.03  24.82  26.77  27.74
806   11.57  13.43  14.82  15.98  17.77  19.43  23.22  25.17  26.14
807    7.97   9.83  11.22  12.38  14.17  15.83  19.62  21.57  22.54
808    5.27   7.13   8.52   9.68  11.47  13.13  16.92  18.87  19.84
809    4.07   5.93   7.32   8.48  10.27  11.93  15.72  17.67  18.64
821    1.80   3.67   5.06   6.22   8.01   9.43  13.26  15.17  16.15
822    0.00   2.21   3.60   4.76   6.55   8.00  11.81  13.74  14.68
823    2.21   0.00   1.79   2.94   4.74   6.15  10.00  11.89  12.87
824    3.60   1.79   0.00   1.71   3.50   4.92   8.77  10.66  11.64
825    4.76   2.94   1.71   0.00   2.20   3.65   7.46   9.35  10.33
826    6.55   4.74   3.50   2.20   0.00   2.05   5.81   7.71   8.69
827    8.00   6.15   4.92   3.65   2.05   0.00   4.14   6.06   7.04
829   11.81  10.00  21.40   7.46   5.81   4.14   0.00   2.38   3.36
830   13.74  11.89  10.66   0.00   7.71   6.06   2.38   0.00   1.39
831   14.68  12.87  11.64  10.33   8.69   7.04   3.36   1.39   0.00

Type Count Dictionary:
{'high': 56, 'low': 196, 'medium': 89}

Bus Indexes Exceeding Twice the Mean:
[2, 7, 12, 17, 25, 30, 54, 64, 70, 97, 144, 145, 149, 154, 160, 201, 206, 210, 215, 234, 235, 245, 250, 309, 314, 319, 322, 323, 334, 340]

Filtered Routes with Average 'Truck' > 7:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Modified Car Matrix:
id_2   801   802   803   804   805   806   807   808   809   821   822   823  \
id_1
801    0.0   3.5   7.5   9.6  14.6  16.8  21.1  24.5  15.8  17.6  18.5  19.9
802    3.5   0.0   4.2   6.5  11.5  13.6  17.9  21.4  23.1  15.7  16.6  17.9
803    7.5   4.2   0.0   2.5   7.5   9.6  13.9  17.4  19.1  22.2  23.6  15.5
804    9.6   6.5   2.5   0.0   5.5   7.6  11.9  15.4  17.1  20.2  21.6  23.9
805   14.6  11.5   7.5   5.5   0.0   2.5   6.8  10.2  12.0  15.0  16.5  18.8
806   16.8  13.6   9.6   7.6   2.5   0.0   4.8   8.2  10.0  13.0  14.5  16.8
807   21.1  17.9  13.9  11.9   6.8   4.8   0.0   3.6   5.4   8.5  10.0  12.3
808   24.5  21.4  17.4  15.4  10.2   8.2   3.6   0.0   2.1   5.2   6.6   8.9
809   15.8  23.1  19.1  17.1  12.0  10.0   5.4   2.1   0.0   3.6   5.1   7.4
821   17.6  15.7  22.2  20.2  15.0  13.0   8.5   5.2   3.6   0.0   2.2   4.6
822   18.5  16.6  23.6  21.6  16.5  14.5  10.0   6.6   5.1   2.2   0.0   2.8
823   19.9  17.9  15.5  23.9  18.8  16.8  12.3   8.9   7.4   4.6   2.8   0.0
824   20.9  19.0  16.6  15.4  20.5   9.8  14.0  10.6   9.2   6.3   4.5   2.2
825   21.8  19.9  17.5  16.3  22.0  20.0  15.5  12.1  10.6   7.8   5.9   3.7
826   23.2  21.2  18.8  17.6  24.2  22.2  17.7  14.3  12.8  10.0   8.2   5.9
827   24.4  22.4  20.0  18.8  15.8  24.3  19.8  16.4  14.9  11.8  10.0   7.7
829   27.2  25.3  22.9  21.7  18.6  17.4  24.5  21.2  19.7  16.6  14.8  12.5
830   28.7  26.8  24.4  23.2  20.1  18.9  16.2  23.6  22.1  19.0  17.2  14.9
831   29.4  27.5  25.1  23.9  20.8  19.6  16.9  24.8  23.3  20.2  18.4  16.1

id_2   824   825   826   827   829   830   831
id_1
801   20.9  21.8  23.2  24.4  27.2  28.7  29.4
802   19.0  19.9  21.2  22.4  25.3  26.8  27.5
803   16.6  17.5  18.8  20.0  22.9  24.4  25.1
804   15.4  16.3  17.6  18.8  21.7  23.2  23.9
805   20.5  22.0  24.2  15.8  18.6  20.1  20.8
806   18.5  20.0  22.2  24.3  17.4  18.9  19.6
807   14.0  15.5  17.7  19.8  24.5  16.2  16.9
808   10.6  12.1  14.3  16.4  21.2  23.6  24.8
809    9.2  10.6  12.8  14.9  19.7  22.1  23.3
821    6.3   7.8  10.0  11.8  16.6  19.0  20.2
822    4.5   5.9   8.2  10.0  14.8  17.2  18.4
823    2.2   3.7   5.9   7.7  12.5  14.9  16.1
824    0.0   2.1   4.4   6.2  11.0  13.3  14.6
825    2.1   0.0   2.8   4.6   9.3  11.7  12.9
826    4.4   2.8   0.0   2.6   7.3   9.6  10.9
827    6.2   4.6   2.6   0.0   5.2   7.6   8.8
829   16.0   9.3   7.3   5.2   0.0   3.0   4.2
830   13.3   0.0   9.6   7.6   3.0   0.0   1.7
831   14.6  12.9  10.9   8.8   4.2   1.7   0.0

In [ ]:
import pandas as pd

file_path_2 = '/content/MapUp-Data-Assessment-F/datasets/dataset-2.csv'

df = pd.read_csv(file_path_2)

df.head()

In [6]:
import pandas as pd

def time_check(df):
    """
    Use shared dataset-2 to verify the completeness of the data by checking whether the timestamps for each unique (`id`, `id_2`) pair cover a full 24-hour and 7 days period.

    Args:
        df (pandas.DataFrame)

    Returns:
        pd.Series: Return a boolean series indicating if each (id, id_2) pair has incorrect timestamps.
    """

    try:
        df['timestamp'] = pd.to_datetime(df['startDay'] + ' ' + df['startTime'], errors='coerce')
        df['end_timestamp'] = pd.to_datetime(df['endDay'] + ' ' + df['endTime'], errors='coerce')
    except Exception as e:
        print(f"Error: {e}")
        print("Problematic rows:")
        problematic_rows = df[pd.to_datetime(df['startDay'] + ' ' + df['startTime'], errors='coerce').isnull() |
                              pd.to_datetime(df['endDay'] + ' ' + df['endTime'], errors='coerce').isnull()]
        print(problematic_rows)
        return pd.Series()


    time_check_result = (df.groupby(['id', 'id_2'])
                         .apply(lambda x: (not x['timestamp'].empty) and
                                          (x['timestamp'].min().floor('D') == x['timestamp'].max().floor('D')) and
                                          (x['timestamp'].dt.dayofweek.nunique() == 7))
                         .reset_index(drop=True))

    return time_check_result


file_path_2 = '/content/MapUp-Data-Assessment-F/datasets/dataset-2.csv'


df = pd.read_csv(file_path_2)

print("Original DataFrame:")
print(df.head())

time_check_result = time_check(df)

print("\nTime Check Result:")
print(time_check_result)

Original DataFrame:
        id        name     id_2  startDay startTime     endDay   endTime  \
0  1040000  Montgomery       -1    Monday  05:00:00  Wednesday  10:00:00
1  1040010       Black       -1    Monday  10:00:00     Friday  15:00:00
2  1040020     Emerald       -1  Thursday  15:00:00     Friday  19:00:00
3  1040030       Foley       -1    Monday  19:00:00     Friday  23:59:59
4  1050000    Whittier  1050001  Saturday  00:00:00     Sunday  23:59:59

   able2Hov2  able2Hov3  able3Hov2  able3Hov3  able5Hov2  able5Hov3  \
0        3.0        3.0       -1.0         -1          3          3
1        6.0        6.0       -1.0         -1          6          6
2        3.0        3.0       -1.0         -1          3          3
3        6.0        6.0       -1.0         -1          6          6
4        6.0        6.0        NaN         -1          6          6

   able4Hov2  able4Hov3
0          3          3
1          6          6
2          3          3
3          6          6
4          6          6

Time Check Result:
0       False
1       False
2       False
3       False
4       False
        ...
9249    False
9250    False
9251    False
9252    False
9253    False
Length: 9254, dtype: bool

In [ ]:
import pandas as pd

file_path_3 = '/content/MapUp-Data-Assessment-F/datasets/dataset-3.csv'

df = pd.read_csv(file_path_3)

df.head()

In [ ]:
file_path_t2 = '/content/MapUp-Data-Assessment-F/templates/python_task_2.py'

with open(file_path_t2, 'r') as file:
    python_code = file.read()

print(python_code)

In [7]:
import pandas as pd

def calculate_distance_matrix(df):
    """
    Calculate a distance matrix based on the dataframe, df.

    Args:
        df (pandas.DataFrame)

    Returns:
        pandas.DataFrame: Distance matrix
    """

    distance_matrix = pd.DataFrame(index=df['id_start'].unique(), columns=df['id_end'].unique())


    for index, row in df.iterrows():
        # Update the distance matrix with bidirectional distances
        distance_matrix.at[row['id_start'], row['id_end']] = row['distance']
        distance_matrix.at[row['id_end'], row['id_start']] = row['distance']


    distance_matrix.values[[range(distance_matrix.shape[0])]*2] = 0

    # Calculate cumulative distances
    distance_matrix = distance_matrix.astype(float).groupby(level=0, axis=1).cumsum(axis=1)

    return distance_matrix

file_path_3 = '/content/MapUp-Data-Assessment-F/datasets/dataset-3.csv'

df = pd.read_csv(file_path_3)

result_distance_matrix = calculate_distance_matrix(df)

print(result_distance_matrix)

         1001402  1001404  1001406  1001408  1001410  1001412  1001414  \
1001400      9.7      NaN      NaN      NaN      NaN      NaN      NaN
1001402      NaN     20.2      NaN      NaN      NaN      NaN      NaN
1001404     20.2      NaN     16.0      NaN      NaN      NaN      NaN
1001406      NaN     16.0      NaN     21.7      NaN      NaN      NaN
1001408      NaN      NaN     21.7      NaN     11.1      NaN      NaN
1001410      NaN      NaN      NaN     11.1      NaN     15.6      NaN
1001412      NaN      NaN      NaN      NaN     15.6      NaN     18.2
1001414      NaN      NaN      NaN      NaN      NaN     18.2      NaN
1001416      NaN      NaN      NaN      NaN      NaN      NaN     13.2
1001418      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001420      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001422      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001424      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001426      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001428      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001430      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001432      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001434      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001436      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001438      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001440      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001442      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001488      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1004356      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1004354      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1004355      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001444      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001446      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001448      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001450      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001452      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001454      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001456      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001458      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001460      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001461      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001462      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001464      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001466      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001468      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001470      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001437      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1001472      NaN      NaN      NaN      NaN      NaN      NaN      NaN

         1001416  1001418  1001420  ...  1001458  1001460  1001461  1001462  \
1001400      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001402      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001404      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001406      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001408      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001410      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001412      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001414     13.2      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001416      NaN     13.6      NaN  ...      NaN      NaN      NaN      NaN
1001418     13.6      NaN     12.9  ...      NaN      NaN      NaN      NaN
1001420      NaN     12.9      NaN  ...      NaN      NaN      NaN      NaN
1001422      NaN      NaN      9.6  ...      NaN      NaN      NaN      NaN
1001424      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001426      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001428      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001430      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001432      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001434      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001436      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001438      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001440      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001442      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001488      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1004356      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1004354      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1004355      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001444      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001446      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001448      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001450      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001452      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001454      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001456      NaN      NaN      NaN  ...      8.9      NaN      NaN      NaN
1001458      NaN      NaN      NaN  ...      NaN      5.1      NaN      NaN
1001460      NaN      NaN      NaN  ...      5.1      NaN     12.8     17.9
1001461      NaN      NaN      NaN  ...      NaN     12.8      NaN      5.1
1001462      NaN      NaN      NaN  ...      NaN     17.9      5.1      NaN
1001464      NaN      NaN      NaN  ...      NaN      NaN      NaN     26.7
1001466      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001468      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001470      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001437      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1001472      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN

         1001464  1001466  1001468  1001470  1001472  1001400
1001400      NaN      NaN      NaN      NaN      NaN      NaN
1001402      NaN      NaN      NaN      NaN      NaN      9.7
1001404      NaN      NaN      NaN      NaN      NaN      NaN
1001406      NaN      NaN      NaN      NaN      NaN      NaN
1001408      NaN      NaN      NaN      NaN      NaN      NaN
1001410      NaN      NaN      NaN      NaN      NaN      NaN
1001412      NaN      NaN      NaN      NaN      NaN      NaN
1001414      NaN      NaN      NaN      NaN      NaN      NaN
1001416      NaN      NaN      NaN      NaN      NaN      NaN
1001418      NaN      NaN      NaN      NaN      NaN      NaN
1001420      NaN      NaN      NaN      NaN      NaN      NaN
1001422      NaN      NaN      NaN      NaN      NaN      NaN
1001424      NaN      NaN      NaN      NaN      NaN      NaN
1001426      NaN      NaN      NaN      NaN      NaN      NaN
1001428      NaN      NaN      NaN      NaN      NaN      NaN
1001430      NaN      NaN      NaN      NaN      NaN      NaN
1001432      NaN      NaN      NaN      NaN      NaN      NaN
1001434      NaN      NaN      NaN      NaN      NaN      NaN
1001436      NaN      NaN      NaN      NaN      NaN      NaN
1001438      NaN      NaN      NaN      NaN      NaN      NaN
1001440      NaN      NaN      NaN      NaN      NaN      NaN
1001442      NaN      NaN      NaN      NaN      NaN      NaN
1001488      NaN      NaN      NaN      NaN      NaN      NaN
1004356      NaN      NaN      NaN      NaN      NaN      NaN
1004354      NaN      NaN      NaN      NaN      NaN      NaN
1004355      NaN      NaN      NaN      NaN      NaN      NaN
1001444      NaN      NaN      NaN      NaN      NaN      NaN
1001446      NaN      NaN      NaN      NaN      NaN      NaN
1001448      NaN      NaN      NaN      NaN      NaN      NaN
1001450      NaN      NaN      NaN      NaN      NaN      NaN
1001452      NaN      NaN      NaN      NaN      NaN      NaN
1001454      NaN      NaN      NaN      NaN      NaN      NaN
1001456      NaN      NaN      NaN      NaN      NaN      NaN
1001458      NaN      NaN      NaN      NaN      NaN      NaN
1001460      NaN      NaN      NaN      NaN      NaN      NaN
1001461      NaN      NaN      NaN      NaN      NaN      NaN
1001462     26.7      NaN      NaN      NaN      NaN      NaN
1001464      NaN      8.5      NaN      NaN      NaN      NaN
1001466      8.5      NaN     10.7      NaN      NaN      NaN
1001468      NaN     10.7      NaN     10.6      NaN      NaN
1001470      NaN      NaN     10.6      NaN     16.0      NaN
1001437      NaN      NaN      NaN      NaN      NaN      NaN
1001472      NaN      NaN      NaN     16.0      NaN      NaN

[43 rows x 43 columns]

In [8]:
import pandas as pd

def unroll_distance_matrix(df):
    """
    Unroll a distance matrix to a DataFrame in the style of the initial dataset.

    Args:
        df (pandas.DataFrame)

    Returns:
        pandas.DataFrame: Unrolled DataFrame containing columns 'id_start', 'id_end', and 'distance'.
    """
    # Create an empty list to store unrolled data
    unrolled_data = []

    # Iterate through the rows and columns of the distance matrix
    for id_start in df.index:
        for id_end in df.columns:
            # Exclude diagonal elements
            if id_start != id_end:
                # Extract the distance value
                distance = df.at[id_start, id_end]

                # Append data to the unrolled list
                unrolled_data.append({'id_start': id_start, 'id_end': id_end, 'distance': distance})

    # Create a DataFrame from the unrolled data
    unrolled_df = pd.DataFrame(unrolled_data)

    return unrolled_df

result_distance_matrix = calculate_distance_matrix(df)

result_unrolled_df = unroll_distance_matrix(result_distance_matrix)

print(result_unrolled_df)

      id_start   id_end  distance
0      1001400  1001402       9.7
1      1001400  1001404       NaN
2      1001400  1001406       NaN
3      1001400  1001408       NaN
4      1001400  1001410       NaN
...        ...      ...       ...
1801   1001472  1001464       NaN
1802   1001472  1001466       NaN
1803   1001472  1001468       NaN
1804   1001472  1001470      16.0
1805   1001472  1001400       NaN

[1806 rows x 3 columns]

In [9]:
import pandas as pd

def find_ids_within_ten_percentage_threshold(df, reference_id):
    """
    Find all IDs whose average distance lies within 10% of the average distance of the reference ID.

    Args:
        df (pandas.DataFrame)
        reference_id (int)

    Returns:
        pandas.DataFrame: DataFrame with IDs whose average distance is within the specified percentage threshold
                          of the reference ID's average distance.
    """

    reference_df = df[df['id_start'] == reference_id]

    # Calculate the average distance for the reference_id
    reference_avg_distance = reference_df['distance'].mean()

    # Calculate the percentage threshold
    percentage_threshold = 0.10

    # Calculate the minimum and maximum acceptable average distances
    min_threshold = reference_avg_distance - (reference_avg_distance * percentage_threshold)
    max_threshold = reference_avg_distance + (reference_avg_distance * percentage_threshold)

    # Filter the DataFrame to include only rows with average distances within the threshold
    result_df = df.groupby('id_start')['distance'].mean().reset_index()
    result_df = result_df[(result_df['distance'] >= min_threshold) & (result_df['distance'] <= max_threshold)]

    # Sort the result DataFrame by average distance in ascending order
    result_df = result_df.sort_values(by='distance')

    return result_df

result_unrolled_df = unroll_distance_matrix(result_distance_matrix)

reference_id = 1001400

result_filtered_df = find_ids_within_ten_percentage_threshold(result_unrolled_df, reference_id)

print(result_filtered_df)

    id_start  distance
15   1001430      8.80
32   1001461      8.95
35   1001466      9.60
0    1001400      9.70
11   1001422     10.50
27   1001452     10.60
36   1001468     10.65

In [10]:
import pandas as pd

def calculate_toll_rate(df):
    """
    Calculate toll rates for each vehicle type based on the unrolled DataFrame.

    Args:
        df (pandas.DataFrame)

    Returns:
        pandas.DataFrame
    """

    rate_coefficients = {'moto': 0.8, 'car': 1.2, 'rv': 1.5, 'bus': 2.2, 'truck': 3.6}


    for vehicle_type, rate_coefficient in rate_coefficients.items():
        # Create a new column for each vehicle type with calculated toll rates
        df[vehicle_type] = df['distance'] * rate_coefficient

    return df

result_unrolled_df = unroll_distance_matrix(result_distance_matrix)

result_with_toll_rates = calculate_toll_rate(result_unrolled_df)

print(result_with_toll_rates)

      id_start   id_end  distance   moto    car     rv    bus  truck
0      1001400  1001402       9.7   7.76  11.64  14.55  21.34  34.92
1      1001400  1001404       NaN    NaN    NaN    NaN    NaN    NaN
2      1001400  1001406       NaN    NaN    NaN    NaN    NaN    NaN
3      1001400  1001408       NaN    NaN    NaN    NaN    NaN    NaN
4      1001400  1001410       NaN    NaN    NaN    NaN    NaN    NaN
...        ...      ...       ...    ...    ...    ...    ...    ...
1801   1001472  1001464       NaN    NaN    NaN    NaN    NaN    NaN
1802   1001472  1001466       NaN    NaN    NaN    NaN    NaN    NaN
1803   1001472  1001468       NaN    NaN    NaN    NaN    NaN    NaN
1804   1001472  1001470      16.0  12.80  19.20  24.00  35.20  57.60
1805   1001472  1001400       NaN    NaN    NaN    NaN    NaN    NaN

[1806 rows x 8 columns]

In [11]:
import pandas as pd
from datetime import time

def calculate_time_based_toll_rates(df):
    """
    Calculate time-based toll rates for different time intervals within a day.

    Args:
        df (pandas.DataFrame)

    Returns:
        pandas.DataFrame
    """

    discount_factors = {
        'weekday_morning': 0.8,
        'weekday_daytime': 1.2,
        'weekday_evening': 0.8,
        'weekend': 0.7
    }

    # Define time ranges
    time_ranges = {
        'morning': (time(0, 0), time(10, 0)),
        'daytime': (time(10, 0), time(18, 0)),
        'evening': (time(18, 0), time(23, 59, 59))
    }


    df['start_day'] = 'Monday'
    df['start_time'] = time(0, 0)
    df['end_day'] = 'Sunday'
    df['end_time'] = time(23, 59, 59)


    for index, row in df.iterrows():
        for vehicle_type in ['moto', 'car', 'rv', 'bus', 'truck']:
            if row['start_day'] in ['Saturday', 'Sunday']:
                df.at[index, vehicle_type] *= discount_factors['weekend']
            else:
                for time_range, (start, end) in time_ranges.items():
                    if start <= row['start_time'] < end:
                        df.at[index, vehicle_type] *= discount_factors[f'weekday_{time_range}']
                        break

    return df

final_df = calculate_time_based_toll_rates(result_with_toll_rates)

print(final_df)

      id_start   id_end  distance    moto     car     rv     bus   truck  \
0      1001400  1001402       9.7   6.208   9.312  11.64  17.072  27.936
1      1001400  1001404       NaN     NaN     NaN    NaN     NaN     NaN
2      1001400  1001406       NaN     NaN     NaN    NaN     NaN     NaN
3      1001400  1001408       NaN     NaN     NaN    NaN     NaN     NaN
4      1001400  1001410       NaN     NaN     NaN    NaN     NaN     NaN
...        ...      ...       ...     ...     ...    ...     ...     ...
1801   1001472  1001464       NaN     NaN     NaN    NaN     NaN     NaN
1802   1001472  1001466       NaN     NaN     NaN    NaN     NaN     NaN
1803   1001472  1001468       NaN     NaN     NaN    NaN     NaN     NaN
1804   1001472  1001470      16.0  10.240  15.360  19.20  28.160  46.080
1805   1001472  1001400       NaN     NaN     NaN    NaN     NaN     NaN

     start_day start_time end_day  end_time
0       Monday   00:00:00  Sunday  23:59:59
1       Monday   00:00:00  Sunday  23:59:59
2       Monday   00:00:00  Sunday  23:59:59
3       Monday   00:00:00  Sunday  23:59:59
4       Monday   00:00:00  Sunday  23:59:59
...        ...        ...     ...       ...
1801    Monday   00:00:00  Sunday  23:59:59
1802    Monday   00:00:00  Sunday  23:59:59
1803    Monday   00:00:00  Sunday  23:59:59
1804    Monday   00:00:00  Sunday  23:59:59
1805    Monday   00:00:00  Sunday  23:59:59

[1806 rows x 12 columns]